@model MapaTriStackdb.Models.ConfigAlerta

@{
    ViewData["Title"] = "Criar Configuração";
}

<h2>Criar Configuração de Alerta</h2>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TipoAlertaId" class="control-label"></label>
        <select asp-for="TipoAlertaId" class="form-control" asp-items="ViewBag.TipoAlertaId"></select>
    </div>

    <div class="form-group">
        <label asp-for="ClienteId" class="control-label"></label>
        <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
    </div>

    <hr />

    <div class="form-group">
        <label asp-for="TemperaturaLimite"></label>
        <input asp-for="TemperaturaLimite" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ArLimite"></label>
        <input asp-for="ArLimite" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="VentoLimite"></label>
        <input asp-for="VentoLimite" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="AguaLimite"></label>
        <input asp-for="AguaLimite" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="SoloLimite"></label>
        <input asp-for="SoloLimite" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Nivel"></label>
        <select asp-for="Nivel" class="form-control">
            <option>Leve</option>
            <option>Moderado</option>
            <option>Crítico</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</form>
