@model MapaTriStackdb.Models.Cliente

@{
    ViewData["Title"] = "Editar Cliente";
}

<h2 class="text-success fw-bold">Editar Cliente</h2>

<form asp-action="Edit" method="post">
    <!-- ID oculto -->
    <input type="hidden" asp-for="ClienteId" />

    <div class="form-group mb-3">
        <label asp-for="Nome" class="fw-bold text-secondary"></label>
        <input asp-for="Nome" class="form-control border" style="border-color: rgba(0,0,0,0.1);" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Email" class="fw-bold text-secondary"></label>
        <input asp-for="Email" class="form-control border" style="border-color: rgba(0,0,0,0.1);" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn fw-bold" style="background-color: #00b56a; color:white;">Salvar Alterações</button>
        <a asp-action="Index" class="btn fw-bold ms-2" style="background-color:#246816; color:white;">Voltar</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
