@model MapaTriStackdb.Models.AlertaEquipamento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AlertaEquipamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EquipamentoId" class="control-label"></label>
                <select asp-for="EquipamentoId" class ="form-control" asp-items="ViewBag.EquipamentoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoAlertaId" class="control-label"></label>
                <select asp-for="TipoAlertaId" class ="form-control" asp-items="ViewBag.TipoAlertaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Mensagem" class="control-label"></label>
                <input asp-for="Mensagem" class="form-control" />
                <span asp-validation-for="Mensagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAlerta" class="control-label"></label>
                <input asp-for="DataAlerta" class="form-control" />
                <span asp-validation-for="DataAlerta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
