@model MapaTriStackdb.Models.AlertaEquipamento

<h2>Criar Alerta</h2>

<form asp-action="Create">

    <div class="form-group">
        <label asp-for="EquipamentoId"></label>
        <select asp-for="EquipamentoId" class="form-control" asp-items="ViewBag.EquipamentoId"></select>
    </div>

    <div class="form-group">
        <label asp-for="TipoAlertaId"></label>
        <select asp-for="TipoAlertaId" class="form-control" asp-items="ViewBag.TipoAlertaId"></select>
    </div>

    <div class="form-group">
        <label asp-for="Mensagem"></label>
        <input asp-for="Mensagem" class="form-control" />
        <span asp-validation-for="Mensagem" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ClienteId"></label>
        <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
