@model MapaTriStackdb.Models.AlertaEquipamento

<h2>Excluir Alerta</h2>

<h4>Tem certeza que deseja excluir este alerta?</h4>

<div>
    <dl class="row">
        <dt class="col-sm-3">Equipamento</dt>
        <dd class="col-sm-9">@Model.Equipamento?.Descricao</dd>

        <dt class="col-sm-3">Tipo de Alerta</dt>
        <dd class="col-sm-9">@Model.TipoAlerta?.Descricao</dd>

        <dt class="col-sm-3">Mensagem</dt>
        <dd class="col-sm-9">@Model.Mensagem</dd>

        <dt class="col-sm-3">Cliente</dt>
        <dd class="col-sm-9">@Model.Cliente?.Nome</dd>
    </dl>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="AlertaEquipamentoId" />
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
